@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #e5e5e5;
  margin: 0%;
  width: 375px;
}

#nav,
#home_presentation {
  background-color: #fff;
}

#nav {
  width: 351px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  padding: 4px 12px;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
}

#nav nav:hover {
  cursor: pointer;
}

.internal-link {
  display: none;
}

#home_presentation {
  width: auto;
  background-image: url(./image/header-shapes-mobile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 604px;
  padding: 0 24px;
  border-bottom-left-radius: 12%;
}

.short-presentation {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin: 0;
  padding-top: 15px;
  width: 327px;
}

#home_presentation p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
}

ul {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

h3 {
  margin-top: 12px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 32px;
  color: #172b4d;
  font-family: Poppins, sans-serif;
  line-height: 44px;
}

.let-connect {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#nav .logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  color: #6070ff;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

#nav .logo:hover {
  text-decoration: underline;
  text-decoration-color: #23a3fa;
  text-decoration-thickness: 2px;
}

.works {
  width: 375px;
  height: 2788px;
  top: 718px;
}

.workss {
  width: 327px;
  height: 2560px;
  top: 718px;
  padding: 114px 24px 114px 24px;
  list-style-type: none;
  display: grid;
  background-color: #e2e3eb;
  grid-template-rows: auto auto auto auto;
  gap: 88px;
}

.card-work {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  border: 1px;
  gap: 1px;
  background: rgba(255, 255, 255, 1);
}

.card-work1 {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 552px;
  padding: 10px;
  border-radius: 16px;
  border: 1px;
  gap: 1px;
  background: rgba(255, 255, 255, 1);
}

.card-image {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.card-image img {
  width: 100%;
  height: 100%;
}

.card-text {
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 288px;
  gap: 4px;
  padding: 0;
}

article {
  width: 496px;
  height: 98px;
  gap: 12px;
}

.card-title {
  width: 295px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.icon-card-canopy {
  display: flex;
  width: 100%;
  height: 32px;
  gap: 12px;
  list-style-type: none;
}

.canopy {
  width: 55px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.counter {
  width: 8px;
  height: auto;
  color: rgba(193, 199, 208, 1);
  font-size: 25px;
}

.bg {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(122, 134, 154, 1);
}

.profile-description {
  width: 100%;
  height: 76px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.icons-language {
  list-style-type: none;
  float: left;
  margin-top: 0;
  padding: 0;
  width: 100%;
  gap: 8px;
}

.languages {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(96, 112, 255, 1);
  background: #ebebff;
  border-radius: 8px;
  padding: 8px;
}

.btn-seeProject {
  width: 126px;
  padding: 12px;
  font-size: 17px;
  margin-top: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #ebebff;
  gap: 10px;
  color: rgba(96, 112, 255, 1);
  background-color: blue;
  transition: background-color 0.5s ease;
}

.btn-seeProject:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.btn-seeProject:disabled {
  color: #5e6c84;
}

.btn-seeProject:active {
  background: #e2e3eb;
  border-radius: 8px;
}

.btn-enabled {
  font-style: normal;
  width: 170px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(96, 112, 255, 1);
}

.btn-enabled:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.btn-enabled:disabled {
  color: #5e6c84;
}

.btn-enabled:active {
  background: #030c52;
  border-radius: 8px;
}

.main-aboutme {
  width: 375px;
  height: 1400px;
  background-color: rgba(255, 255, 255, 1);
  top: 3506px;
  gap: 24px;
  border-top-right-radius: 16%;
}

.About-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 327px;
  height: 1035px;
  padding: 114px 24px 114px 24px;
  gap: 24px;
  background-color: white;
  border-top-right-radius: 6%;
}

.about-item1 {
  width: 327px;
  height: 346px;
  gap: 12px;
}

.icons-menu {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 8px;
}

.about-myself {
  width: 100%;
  height: 35px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(23, 43, 77, 1);
}

.about-content {
  width: 100%;
  height: 147px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(52, 69, 99, 1);
}

.icons {
  display: flex;
  justify-content: space-around;
  width: 200px;
  height: 40px;
  list-style-type: none;
}

.about-item2 {
  width: 327px;
  height: 464.15px;
}

.lang {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 16px 26px 16px 12px;
}

.lang-drop-down-sing {
  width: 14px;
  height: 14px;
  top: 5px;
  left: 9px;
  color: rgba(80, 95, 121, 1);
}

.lang-text {
  width: 237px;
  height: 24px;
  top: 24px;
  left: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgba(0, 0, 0, 1);
}

.lang-drop-down {
  width: 40px;
  height: 40px;
  top: 16px;
  left: 261px;
  padding: 8px;
  border-radius: 8px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 248.15px;
  padding: 12px;
  gap: 12px;
  list-style-type: none;
}

.lang-list-box {
  display: flex;
  width: 303px;
  height: 66.7155990600586px;
  padding: 9px 12px 9.715599060058594px 12px;
  border-radius: 8px;
  background-color: rgba(247, 247, 249, 1);
  gap: 12px;
}

.icon-lan {
  width: 48px;
  height: 48px;
  top: 9px;
  left: 12px;
  border: 1px;
}

.contact-form {
  width: 375px;
  height: 779px;
  top: 5410px;
  margin-top: -80px;
  background: rgba(96, 112, 255, 1);
  border-top-left-radius: 7%;
  background-image: url(image/contact-bg-form.svg);
  background-repeat: no-repeat;
  background-position: right;
}

.contact-form-inner {
  display: grid;
  grid-template-rows: 56px 159px 395px;
  align-items: center;
  gap: 20px;
  padding-top: 90px;
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
}

.contact-me {
  height: 56px;
  width: 100%;
  font-family: Poppins, sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-text {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: center;
  color: rgba(235, 235, 255, 1);
}

.input-container {
  display: block;
}

.input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  color: #172b4d;
  width: 290px;
}

.btn-submit {
  font-style: normal;
  width: 142px;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #396df2;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(96, 112, 255, 1);
}

.btn-submit:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  border-radius: 8px;
  color: #fff;
}

.btn-submit:disabled {
  color: #5e6c84;
}

.btn-submit:active {
  background: #2230d2;
  border-radius: 8px;
}

#contactForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 447px;
  padding-left: 23px;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  header #nav .logo {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #nav nav {
    display: none;
  }

  #nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px;
    height: 100%;
    align-items: center;
    width: 81%;
  }

  #nav .internal-link {
    display: flex;
    gap: 10px;
  }

  #nav .internal-link li {
    list-style: none;
  }

  #nav .internal-link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  #home_presentation {
    background-image: url(./image/Header\ bg@2x.png);
    background-repeat: no-repeat;
    background-size: 99.25%;
    height: 846px;
    padding-left: 7%;
    padding-right: 7%;
    width: 86%;
  }

  .short-presentation {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    width: 920px;
  }

  #home_presentation p {
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    width: 920px;
  }

  .works {
    width: 98.9%;
    height: 2694px;
    top: 917px;
  }

  .workss {
    width: 85%;
    height: 2410px;
    top: 917px;
    padding: 141px;
    gap: 142px;
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 100%;
    background-color: #e5e5e5;
  }

  .card-work {
    width: 100%;
    height: 496px;
    display: flex;
    flex-direction: column;
    background: #fff;
    flex-wrap: wrap;
    gap: 1px;
  }

  .input {
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 0%;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    color: #172b4d;
    width: 300px;
  }

  .card-image {
    width: 50%;
    height: 488px;
    border-radius: 8px;
  }

  .card-image img {
    width: 100%;
    height: 100%;
  }

  .card-text {
    width: 50%;
    height: 465px;
    padding: 24px;
    gap: 24px;
  }

  .icon-card-canopy {
    width: 100%;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }

  .card-title {
    width: 100%;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(9, 30, 66, 1);
  }

  .canopy {
    width: 55px;
    height: auto;
    font-family: Poppins, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(52, 69, 99, 1);
  }

  .bg {
    height: auto;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(122, 134, 154, 1);
  }

  .profile-description {
    width: 496px;
    height: 30px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
  }

  .btn-seeProject {
    font-family: Poppins, sans-serif;
    width: 126px;
    font-size: 17px;
    margin-top: 0;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(96, 112, 255, 1);
    padding: 12px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 1);
    color: rgba(57, 109, 242, 1);
  }

  .icons-language {
    width: 100%;
    margin-top: 0;
  }

  .languages {
    height: 24px;
    font-family: Poppins, sans-serif;
    background: rgba(235, 235, 255, 1);
    border-radius: 8px;
    padding: 4px 12px 4px 12px;
    text-align: left;
  }

  .main-aboutme {
    border-top-right-radius: 16%;
    width: 100%;
    height: 924px;
    top: 4535px;
    left: 1440px;
  }

  .About-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 97%;
    height: 100%;
    padding: 150px 24px 14px 24px;
    gap: 12px;
    background-color: white;
  }

  .about-item2 {
    width: 684px;
    height: 360px;
    top: 3753px;
    left: 614px;
  }

  .lang {
    height: 50px;
    justify-content: space-around;
    padding-right: 12px;
  }

  .lang-drop-down {
    margin-left: 290px;
    height: auto;
  }

  .lang-drop-down-sing {
    width: 40px;
    height: 40px;
    color: rgba(80, 95, 121, 1);
    margin-left: 298px;
    font-size: 30px;
    font-weight: bold;
  }

  .lang-list {
    flex-direction: row;
    width: 414px;
    height: 144px;
  }

  .lang-list-box {
    flex-direction: column;
    width: 122px;
    height: 120px;
  }

  .about-item1 {
    width: 447px;
    height: 311px;
    top: 3777px;
    left: 143px;
    gap: 24px;
  }

  .about-myself {
    height: 30px;
  }

  .about-content {
    height: 100px;
  }

  .icons-menu {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
  }

  .btn-enabled {
    display: block;
    height: 48px;
  }

  .contact-form {
    width: 100%;
    height: 846px;
    background: rgba(96, 112, 255, 1);
    border-top-left-radius: 8%;
    background-image: url(image/Con_Form_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin: 0;
  }

  .contact-form-inner {
    display: grid;
    grid-template-rows: 56px 102px 400px;
    align-items: center;
    gap: 20px;
    padding-top: 150px;
    width: 569px;
    padding-left: 500px;
    padding-right: 100px;
  }

  .contact-me {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .contact-text {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: rgba(235, 235, 255, 1);
    top: 4802px;
  }

  .btn-submit {
    font-style: normal;
    width: 142px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid rgba(96, 112, 255, 1);
  }

  .btn-submit-container {
    padding-left: 100px;
  }
}
